<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>

</head>
<body>
	<footer layout:fragment="footer">
		<div class="container">
			<address>
				<a href="#">プライバシー</a><span> / </span>
				<a href="#">利用規約</a><span> / </span>
				<a href="#">メディアステートメント</a><span> / </span>
				<a href="#">利用のルール</a><span> / </span>
				<a href="#">ご意見・ご要望</a><span> / </span>
				<a href="#">ヘルプ・お問い合わせ</a>
			</address>
			<small>© Board</small>
		</div>
	</footer>
</body>
</html>