<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>

</head>
<body>
	<header layout:fragment="header">
		<div class="container">
			<div class="htopic bg-light">
				<div class="htopic-left">
					<a href="#">6月20日は世界難民の日。明日を生きるための支援を</a>
				</div>
				<div class="htopic-right">
					<ul>
						<li>AAA</li>
						<li>BBB</li>
					</ul>
				</div>
			</div>
			<div class="hlogo">BBBBBBBBBB</div>
			<div class="huserinfo">CCCCCCCCCC</div>
		</div>
	</header>
</body>
</html>