<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>

</head>
<body>
	<header layout:fragment="header">
		<div class="container">
			<div class="htopic bg-light">
				<div class="htopic-left">
					<a href="#">6月20日は世界難民の日。明日を生きるための支援を</a>
				</div>
				<div class="htopic-right">
					<ul class="htopic-links">
						<li>
							<a href="#">SUPI! JAPAN</a>
						</li>
						<li>
							<a href="#">ヘルプ</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="hmain">
				<div class="hlogo">
					<img th:src="@{/image/logo.png}" height="34" width="197">
				</div>
				<div class="huserinfo">
					<div class="huserinfo-icon">
						<a href="#"><img th:src="@{/image/usericon.png}" width="36" height="36"></a>
					</div>
					<div class="huserinfo-user">
						<p><a href="#">XXXXXXXXXXXX</a></p>
						<p><i class="fas fa-award"></i>プレミアム会員</p>
					</div>
					<div class="huserinfo-point">
						<p><i class="fab fa-apple"></i><a href="#">ポイント</a></p>
						<p><i class="fab fa-amazon-pay"></i><a href="#">ペイペイがもらえるふるさと納税で人気の魚介</a></p>
					</div>
				</div>
			</div>
		</div>
	</header>
</body>
</html>