<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/app.css}">
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<title></title>
</head>
<body>
	<header layout:replace="~{layout/header::header}"></header>

	<div layout:replace="~{layout/search::search}"></div>
		
	<div layout:fragment="content"></div>

	<footer layout:replace="~{layout/footer::footer}"></footer>
</body>
</html>