<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>
<body>
	<div layout:fragment="search" class="bg-light">
		<div class="container">
			<div>
				<div id="search-box" style="justify-content:center;">
					<div class="text-box">
						<input type="text" name="w" placeholder="探す">
					</div>
					<button><i class="fas fa-search"></i></button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>